body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1919;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2b3036;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.search-bar {
    flex: 1;
    max-width: 400px;
    padding: 5px;
}

.top-right {
    display: flex;
    align-items: center;
}

.create-btn {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #002f6d;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.profile-icon {
    font-size: 20px;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #febd59;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 30px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1200px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}



.video-item video {
    width: 100%;
}

.video-content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.video-player {
    flex: 2;
}

.video-player video {
    width: 100%;
    max-height: 500px;
    border-radius: 8px;
}

.video-thumbnail {
    width: 400px; /* Set a fixed width */
    height: 220px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the area without distortion */
    border-radius: 8px; /* Optional: Rounds the corners */
    display: block;
    margin: 0 auto;
}


.comments-section {
    flex: 1;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#video-title {
    margin-top: 10px;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}

#mainV-title {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 65px;
    color: #ffffff;
}



#video-description {
    font-size: 16px;
    color: #ffffff;
}

